In [2]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [3]:
train_data = pd.read_csv('train.csv')
train_data

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,40,Self-emp-not-inc,223881,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,99999,0,70,United-States,>50K
1,30,Private,149118,HS-grad,9,Divorced,Craft-repair,Not-in-family,White,Female,0,0,40,United-States,<=50K
2,46,Private,109209,Some-college,10,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,>50K
3,32,Private,229566,Assoc-voc,11,Married-civ-spouse,Other-service,Husband,White,Male,0,0,60,United-States,>50K
4,54,?,148657,Preschool,1,Married-civ-spouse,?,Wife,White,Female,0,0,40,Mexico,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,40,Private,130834,Some-college,10,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States,<=50K
24996,31,Local-gov,33124,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,50,United-States,<=50K
24997,38,Federal-gov,190895,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,?,>50K
24998,23,Private,420973,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,40,United-States,<=50K
24999,60,Private,88055,10th,6,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,United-States,<=50K

In [4]:
test_data = pd.read_csv('test.csv')

In [5]:
X = train_data.drop("income", axis=1)
y = train_data["income"]

In [6]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y)

In [7]:
X_train.info()
X_train.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
Index: 20000 entries, 19119 to 1565
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             20000 non-null  int64
 1   workclass       20000 non-null  object
 2   fnlwgt          20000 non-null  int64
 3   education       20000 non-null  object
 4   education.num   20000 non-null  int64
 5   marital.status  20000 non-null  object
 6   occupation      20000 non-null  object
 7   relationship    20000 non-null  object
 8   race            20000 non-null  object
 9   sex             20000 non-null  object
 10  capital.gain    20000 non-null  int64
 11  capital.loss    20000 non-null  int64
 12  hours.per.week  20000 non-null  int64
 13  native.country  20000 non-null  object
dtypes: int64(6), object(8)
memory usage: 2.3+ MB

age               0
workclass         0
fnlwgt            0
education         0
education.num     0
marital.status    0
occupation        0
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      0
hours.per.week    0
native.country    0
dtype: int64

In [8]:
X_train = X_train.drop(columns=["fnlwgt"], errors="ignore")
for col in X_train.select_dtypes(include=["object"]):
    X_train[col] = X_train[col].replace("?", X_train[col].mode()[0])

In [9]:
from sklearn.preprocessing import LabelEncoder
cat_cols = X_train.select_dtypes(include=["object"]).columns
le_dict = {}
for col in cat_cols:
    le = LabelEncoder()
    X_train[col] = le.fit_transform(X_train[col])
    le_dict[col] = le

In [10]:
for df_ in [X_train, X_test]:
    df_["capital_diff"] = df_["capital.gain"] - df_["capital.loss"]
    df_["is_over_40_hours"] = (df_["hours.per.week"] > 40).astype(int)